body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}
html{
    /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* Cam photo image */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.form-gap{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* 20px = 2rem */
}
/* 
{color:'white',border:'white',cursor:'pointer',background:'green'}
*/

.green-btn{
  padding: 5px;
  border-radius: 8px;
  /* 8px = .8rem */
  all: unset;
  border: 2px solid green;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 5px ;
  padding: 5px 4rem;
  width: 35vw;
}

.top-green-btn{
  display: flex;
  flex-direction: row;
  gap:12px;
}

input[type=text]{
  all:unset;
  border: 2px solid white;
  border-radius: .4rem;
  /* 4px =.4rem */
  cursor: text;
  width:39rem;
}

input[type=text]::placeholder{
  color: rgba(255, 255, 255, 0.575);

}

input[type=submit]{
  cursor: pointer;
}

.hidden{
  display: none;
}

.payment-modal{
  display:flex;
  flex-direction: column;
}

.close-payment{
  display: inline-block;
}

.heading{
  font-size: 4rem;
}

.center{
  margin: 0 auto;
}

.problem-statement{
  color: yellow;
  font-size: 3rem;
  margin: 0;
}
.form-controls{
  display: flex;
  
}
header{
  height: 100vh;
}

@media(max-width:1030px){
  html{
    font-size: 60%;
  }
}
@media(max-width:1000px){
  html{
    font-size: 40%;
  }
}
@media(max-width:500px){
  html{
    font-size: 20%;
  }
  .form-controls{
    flex-direction: column;
  }
  input[type=text]{
    width: 90rem;
  }
  .problem-statement{
    font-size: 24px;
  }
}
@media(max-width:300px){
  html{
    font-size: 30%;
  } 
  .form-controls{
    flex-direction: column;
  }
  input[type=text]{
    width: 90rem;
  }
  .App-header {
    height: 700px;
}
  .App{
    padding: 0 0;
  }
  .problem-statement{
    font-size: 20px;
  }
}